extends layout

block title
  title Sign Up to get my awesome app!

block append top-script


block main
  form(action='/signup', method='post')
    fieldset
      label(for='username') Username
        - if (locals.errors && locals.errors.invalid && locals.errors.invalid.username)
          for usernameError in locals.errors.invalid.username
            div.error #{usernameError}
        input(type='text', name='username', placeholder='Username')
      label(for='password') Password
        - if (locals.errors && locals.errors.invalid && locals.errors.invalid.password)
          for passwordError in locals.errors.invalid.password
            div.error #{passwordError}
        input(type='password', name='password', placeholder='Password')
      input(type='submit', placeholder='Sign Up!')
      input(type='hidden', name='_csrf', value=token)

  - if (locals.messages.errors)
    div.messages.error #{locals.errors}
  - if (locals.info)
    div.messages.info #{locals.info}


block append bottom-script


//- if (dev)
